<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

<ol type="1"><li> Python </li>
<li> R </li></od>
<li> Scala </li>
<li> Julia </li>
<li> JAVA </li>
<li> C++ </li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
<li> Pandas </li>
<li> Numpy </li>
<li> Matplotlib </li>
<li> Seaborn </li>

</ol>

<table>
<tr><th>Data Science Tools</th></tr>
    <tr><td>Python</td></tr>
    <tr><td>Jupyter Notebook</td></tr>
    <tr><td>Apache Spark</td></tr>
    <tr><td>HadoopHDFS</td></tr>
    <tr><td>Apache Airflow</td></tr>
    <tr><td>Hue</td></tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python.</h3>
<ol>
    <li>Add: 2+3 = 5</li>
    <li>Sub: 3-2 = 1</li>
    <li>Mul: 2*3 = 6</li>
    <li>Div: 4/2 = 2</li>
</ol>

In [17]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [19]:
#This will convert 200 minutes to hours by diving by 60
hours = 200/60
hours

3.3333333333333335

<b>Objectives:</b>
<ul>
    <li>List popular languages for Data Science</li>
    <li>List popular libraries used by Data Scientists</li>
    <li>Table popular Data Science tools</li>
    <li>List basic arithmetic expressions</li>
</ul>

<h2>Author</h2>
Dilip